@viewport{user-zoom: fixed;}
   .preloader {
	height: 100%;
	left: 0px;
	position: fixed;
	top: 0px;
	width: 100%;
	z-index: 99999999;
	background: radial-gradient(ellipse at center, #069850 0%,#26382c 100%);
}

.preloader figure img {animation: pulse 1s linear infinite;max-width: 160px;}
.preloader figure {position: absolute;top: 0;left: 0;right: 0;bottom: 0;display: flex;align-items: center;justify-content: center;height: 100%;}

@keyframes pulse {
  0% {
    opacity: 0.9;
    transform: scale(0.8);
  }
  30% {
    opacity: 1;
    transform: scale(1);
  }
  70% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0.9;
    transform: scale(0.8);
  }
}

.fixed {position: fixed !important;top:0;left:0;width: 100%;z-index:999;opacity:1;visibility:visible;-ms-animation-name: fadeInDown;-moz-animation-name: fadeInDown;-op-animation-name: fadeInDown;-webkit-animation-name: fadeInDown;animation-name: fadeInDown;-ms-animation-duration: 500ms;-moz-animation-duration: 500ms;-op-animation-duration: 500ms;-webkit-animation-duration: 500ms;animation-duration: 500ms;-ms-animation-timing-function: linear;-moz-animation-timing-function: linear;-op-animation-timing-function: linear;-webkit-animation-timing-function: linear;animation-timing-function: linear;-ms-animation-iteration-count: 1;-moz-animation-iteration-count: 1;-op-animation-iteration-count: 1;-webkit-animation-iteration-count: 1;animation-iteration-count: 1;background: #ffffff;box-shadow: 0 0 7px 2px #ccccccad;}
.fixed .main-menu {border-bottom: solid 7px #069850;margin: 0px auto 0px;padding: 12px 0;}
.fixed .site-logo {padding: 5px 0 0 35px;}
.fixed .site-logo img {max-width: 100px;}

.fixed .side-menu {height: 73px;max-width: 90px;}
.fixed .side-menu a i:after {top: 20px;width: 35px;height: 35px;}
.fixed .side-menu a i {line-height: 75px;}
.fixed .row {display: flex; align-items: center;}

.main-slider .slick-active .slider-content h1 {-webkit-animation-duration: 1s; animation-duration: 1s; -webkit-animation-fill-mode: both; animation-fill-mode: both; animation-name: fadeInUp; animation-delay: 1.3s;}


.site-logo {display: block;padding: 20px 0 0 35px;}
.site-logo a {display: inline-block;}
.site-logo img {width: 100%;max-width: 230px;}
.main-menu {display: block;text-align: center;background: #26382c;padding: 20px 0;max-width: 820px;border-bottom: solid 7px #ffffff;margin: 20px auto 0;}
.main-menu ul li {display: inline-block;}
.main-menu ul li a {display: inline-block; padding: 0 30px; color: #fff;}
.header .row {display: flex;/* align-items: center; */}
.side-menu {background: #26382c;position: relative;width: 100%;height: 110px;max-width: 110px;margin-left: auto;}
.side-menu a {color: #919c97;text-align: center;}
.side-menu a i:after {content: "";position: absolute;display: block;width: 50px;height: 50px;border: solid 3px #919c97;border-radius: 50%;top: 30px;left: 0;right: 0;margin: 0px auto;z-index: 9;}
.header {position: absolute;width: 100%;overflow: hidden;z-index: 9;}
.phone {display: inline-table; float: right;}
.phone a {font-size: 25px; color: #fff; display: block; padding: 0 30px; margin-top: -5px; border-left: solid 1px #8c9590;}
.main-menu ul {display: inline-block; margin: 0;}
.side-menu a i {text-align: center;display: block;line-height: 110px;}

.main-slider {position: relative;}
.main-slider .slider-content h1 {font-family: 'Courgette', cursive; font-size: 81px; color: #fff;}
.main-slider .slider-content {display: block; position: absolute; top: 190px; left: 0; right: 0; text-align: center;}
.main-slider figure {position: relative; margin: 0;}
.main-slider figure:before {content: ""; position: absolute; display: block; width: 100%; height: 100%; background: #000; opacity: 0.3;}
.main-slider figure img {height: 100vh; object-fit: cover;}

.booking-form-sec .form-main .custom-heading {text-align: left;}
.booking-form-sec {position: absolute; width: 100%; bottom: 40px; z-index: 8;}
.booking-form-sec .form-main {background: #fff;padding: 20px 40px 40px;}
.booking-form-sec .form-main p {margin: 0;}
.booking-form-sec .form-main input{width: 100%; border: solid 1px #ccc; padding: 10px 10px;}
.booking-form-sec .form-main .row .col-md-2 {padding: 0;}

.booking-form-sec .form-main input::placeholder {font-size: 14px;}
.booking-form-sec .form-main .form-btn {display: block;text-align: center;}
.booking-form-sec .form-main .form-btn input {background: #069850; padding: 11px 50px; color: #fff; display: inline-block;}
.booking-form-sec .form-main .form-btn span.wpcf7-spinner {display: none;}
.custom-heading h2 {font-size: 55px;text-transform: uppercase;margin-bottom: 15px;}

.home-text {background: #26382c; padding: 50px 0;}
.home-text p {font-size: 22px;color: #fff;text-align: center;}

.service-sec .single-item {padding: 0 20px;}

.service-sec .owl-item.active.center {transform: scale(1.2); margin-top: 0 !important; position: relative; z-index: 999; transition: linear 0.3s;}
.service-sec .owl-item {margin: 10px 0;}
.service-sec .single-item .item {position: relative;}
.service-sec .single-item .item .info {position: absolute;bottom: 40px;left: 0;padding: 0 40px;z-index: 9;}
.service-sec .single-item .item .info h4 {font-size: 27px;color: #fff;margin: 0;max-width: 280px;text-transform: uppercase;}

.container-fluid {padding: 0 70px !important;}
.service-sec .single-item .item .info h4 a {color: #fff; font-family: 'Oswald', sans-serif;}
.service-sec {padding: 100px 0 80px;}
.service-sec .single-item .item .thumb {position: relative;}
.service-sec .single-item .item .thumb:before {content: "";position: absolute;display: block;width: 100%;height: 100%;background: #0000001f;top: 0;left: 0;z-index: 9;}
.service-sec .single-item .item .thumb:after {content: ""; position: absolute; display: block; width: 100%; height: 100%; clip-path: polygon(0 70%, 0% 100%, 40% 100%); background: #069851; top: 0; left: 0;}

.service-sec .owl-dots, .home-blog .owl-dots {display: block; text-align: center; margin: 30px 0 0 !important;}
.service-sec .owl-dots button.owl-dot, .home-blog .owl-dots button.owl-dot {width: 40px; height: 9px; background: #e0e0e0; margin: 0 5px;}
.service-sec .owl-dots button.owl-dot.active, .home-blog .owl-dots button.owl-dot.active {background: #26382c;}
.service-sec .owl-dots button.owl-dot span, .home-blog .owl-dots button.owl-dot span {display: none;}
.service-sec .owl-item.active.center  .single-item .item .info {bottom: 70px;}
.custom-heading {text-align: center;}


.home-blog {padding-bottom: 100px;}
.home-blog .single-item .item .thumb img {max-height: 250px;width: 100%;object-fit: cover;}
.home-blog .single-item .item .info h4 a {font-size: 18px; color: #000; text-decoration: underline;}
.home-blog .single-item .item .info h4 {max-width: 300px;}
.home-blog .custom-heading {margin-bottom: 50px;}

.main-footer {background: #069851;padding: 50px 0;}
.footer-heading h4 {color: #fff; text-transform: uppercase; font-size: 20px; margin-bottom: 20px;}
.footer-heading ul li, .footer-heading ul li a {color: #fff; font-size: 11px; line-height: 162%;}

.footer-info {display: block; text-align: right;}
.footer-info ul li, .footer-info ul li a {color: #fff; font-size: 20px; font-family: 'Oswald', sans-serif; text-transform: uppercase; font-weight: 500;}
.footer-info ul li strong {font-family: 'Oswald', sans-serif;}

.social-icon {display: block; margin-top: 20px;}
.social-icon ul li {display: inline-block;}
.social-icon ul li a i {padding: 0 10px; border: solid 3px #50b885; border-radius: 50%; color: #50b885; width: 50px; height: 50px; line-height: 45px; text-align: center;}

.social-icon ul, .chat {display: inline-block;}
.chat a {display: block;}
.chat a img {width: 100%; max-width: 100px;}

.copyright p, .copyright a {margin: 0; text-transform: capitalize; color: #fff;}
.bottom-footer {background: #26382c; padding: 20px 0;}

.social-icon ul li a i:hover {background: #26382c; color: #fff;}
.footer-heading ul li a:hover {color: #26382c;}

.home-blog .single-item .item:hover .thumb img, .service-sec .single-item .item:hover .thumb img {transform: scale(1.1); transition: linear 0.3s;}
.home-blog .single-item .item .thumb, .service-sec .single-item .item .thumb {overflow: hidden;}
.home-blog .single-item .item .thumb img, .service-sec .single-item .item .thumb img {transition: linear 0.3s;}

.main-menu ul li.active a, .main-menu ul li a:hover {color: #919c97;}
.footer-heading ul {padding: 0;}

@media (min-width: 1024px) and (max-width: 1440px){
	.service-sec .single-item {padding: 0 10px;}
	.service-sec .owl-item {margin: 20px 0;}
	.service-sec .owl-item.active.center  .single-item .item .info {bottom: 40px;}
}
